body { 
  margin: auto; 
  padding: 0;
  margin-bottom: 3em;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  /* font-size: calc((.05em + 1vmin) + (.05em + 1vmax)); */
  font-size: large;
  max-width: 70em;
}
#head {overflow: hidden}
#head_pic {
  float: left;
  font-size: 2em;
}
#head_name {
  float: right;
  padding-top: 0.5em;
  padding-right: 1em;
  font-size: 1.5em;
  text-shadow: 0px 5px 9px #aaa;
}
#toolbar {
  color: white;
  background: blue;
  background: -moz-linear-gradient(top, blue, #003366);
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(#003366));
  overflow: hidden;
}
#menu {float: left}
#menu a {
  text-shadow: 0px 5px 9px #00a;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
#menu a:link {color: white; text-decoration: none}
#menu a:visited {color: white; text-decoration: none}
#menu a:hover {color: white; text-decoration: underline}
#search {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
#quote {
  font-size: 0.8em;
  text-align: center;
  color: #003366;
}
#quote p {
  margin-bottom: 0em;
}
#quote p + p {
  margin-top: 0em;
}
#col1 {
  padding: 1em;
}
#col2 {
  padding: 1em;
}
#col3 {
  padding: 1em;
}
#col1_2 {
  padding: 1em;
}
#col2_3 {
  padding: 1em;
}
#col3_2 {
  padding: 1em;
}
@media only screen and (min-width: 1000px) {
#main {
  display: -webkit-flex;
  display: flex;
}
#col1 {
  padding: 1em;
  -webkit-flex: 1;
          flex: 1;
}
#col2 {
  padding: 1em;
  -webkit-flex: 1;
          flex: 1;
}
#col3 {
  padding: 1em;
  -webkit-flex: 1;
          flex: 1;
}
#col1_2 {
  padding: 1em;
  -webkit-flex: 2;
          flex: 2;
}
#col2_3 {
  padding: 1em;
  -webkit-flex: 3;
          flex: 3;
}
#col3_2 {
  padding: 1em;
  -webkit-flex: 2;
          flex: 2;
}
}
td,th {
  padding-right: 2em;
  padding-bottom: 0.5em;
  white-space: nowrap;
}
td.detail {
  white-space: normal;
}
table.sortable td {
  border-top: 1pt solid black;
}
li {
  line-height: 1em;
  padding-bottom: 1em;
}
